*{
    margin: 0;
    padding: 0;
}
.top {
    background-color: #0000d9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 50px;
    color: #ffffff;
}
.topA {
    background-color: #0000d0;

}
.top1{
    text-align: center;
    display: flex;
    flex-direction: row;
}
